$aColor: #23823f;
$bColor: #86bd2b;
$cColor: #facc04;
$dColor: #ef8102;
$eColor: #e63c07;

:host {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    border-radius: 20px;

    .container {
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 120px;

        .title {
            color: #7e7e7e;
            font-size: 20px;
            margin: 10px 15px;
        }

        .scores-container {
            position: relative;
            height: 72px;
            border-radius: 20px;
            margin: 0 5px;

            .scores {
                display: flex;
                align-content: stretch;
                height: 100%;

                span {
                    flex-grow: 1;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                    font-weight: bold;
                }

                .a {
                    background-color: $aColor;
                    border-radius: 20px 0 0 20px;
                }

                .b {
                    background-color: $bColor;
                }

                .c {
                    background-color: $cColor;
                }

                .d {
                    background-color: $dColor;
                }

                .e {
                    background-color: $eColor;
                    border-radius: 0 20px 20px 0;
                }
            }
        }

        .score {
            color: white;
            width: 46px;
            height: 85px;
            border: 3px solid white;
            position: absolute;
            top: -10px;
            left: -5px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 52px;
            border-radius: 22px;

            &.a {
                background-color: $aColor;
            }

            &.b {
                background-color: $bColor;
                left: 38px;
            }

            &.c {
                background-color: $cColor;
                left: 81px;
            }

            &.d {
                background-color: $dColor;
                left: 123px;
            }

            &.e {
                background-color: $eColor;
                left: 163px;
            }
        }
    }
}

:host([vertical]) {
    .container {
        flex-direction: row;
        width: 120px;
        height: 220px;

        .title {
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg);
            width: 25px;
            margin: 10px;
            margin-left: 10px;
            margin-right: 2px;
            text-align: right;
        }

        .scores-container {
            width: 72px;
            height: 210px;
            top: 5px;

            .scores {
                flex-direction: column;

                .a {
                    border-radius: 20px 20px 0 0;
                }

                .b {
                    background-color: $bColor;
                }

                .c {
                    background-color: $cColor;
                }

                .d {
                    background-color: $dColor;
                }

                .e {
                    background-color: $eColor;
                    border-radius: 0 0 20px 20px;
                }
            }
        }

        .score {
            width: 85px;
            height: 46px;

            top: -5px;
            left: -10px;

            &.b {
                top: 36px;
            }

            &.c {
                top: 78px;
            }

            &.d {
                top: 121px;
            }

            &.e {
                top: 163px;
            }
        }
    }
}
